markdown: rdiscount
rdiscount:
  extensions: [:smart]
pygments: true
exclude:
- Rakefile
- README.textile
- public
- Gemfile
- Gemfile.lock
- deploy.sh
flickr_set:
- vendor
- tmp
 api_key: ''
 shared_secret: ''
